EMBEDDING_MODEL="multi-qa-MiniLM-L6-cos-v1"
LLM_MODEL="gpt-5-nano"
NUM_VECTORS="3"
VECTOR_DB_DIR="alice_chromadb_multi-qa-minilm-l6-cos-v1"
AZURE_OPENAI_API_KEY="************************************************"
AZURE_OPENAI_ENDPOINT="https://*****************/openai/deployments/***********************/chat/completions?api-version=2024-12-01-preview"
AZURE_OPENAI_API_VERSION="2024-12-01-preview"
AZURE_OPENAI_DEPLOYMENT="***********************"
MAX_TOKENS="1000"
TIMEOUT="30"